<div class="resources-list">
    <div class="resource">
        <h3 class="resource__title">Functions</h3>
        <a href="#" target="_blank" class="resource__link">developer.mozilla.org</a>
        <div class="resource__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ipsum ad laudantium, earum est at corporis fugit mollitia quo minima quasi fuga quia cupiditate repudiandae doloribus perspiciatis illum officiis. Animi?</div>
    </div>
    <div class="resource">
        <h3 class="resource__title">Functions</h3>
        <a href="#" target="_blank" class="resource__link">developer.mozilla.org</a>
        <div class="resource__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ipsum ad laudantium, earum est at corporis fugit mollitia quo minima quasi fuga quia cupiditate repudiandae doloribus perspiciatis illum officiis. Animi?</div>
    </div>
    <div class="resource">
        <h3 class="resource__title">Functions</h3>
        <a href="#" target="_blank" class="resource__link">developer.mozilla.org</a>
        <div class="resource__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ipsum ad laudantium, earum est at corporis fugit mollitia quo minima quasi fuga quia cupiditate repudiandae doloribus perspiciatis illum officiis. Animi?</div>
    </div>
</div>
