<header class="header">
    <div class="logo">
        <img src="./../../assets/images/ComIT-logo-g.png" alt="logo" class="logo__image">
    </div>
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__link" routerLink="/home" routerLinkActive="menu__link--active">Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/althome" routerLinkActive="menu__link--active">Alt-Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/about" routerLinkActive="menu__link--active">About Us</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/contact" routerLinkActive="menu__link--active">Contact Us</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/events" routerLinkActive="menu__link--active">Events</a>
            <i class="fa fa-caret-down menu__icon" aria-hidden="true"></i>
            <ul class="menu-sub">
                <li class="menu-sub__item">
                    <a href="#" class="menu-sub__link">IT Competition</a>
                </li>
                <li class="menu-sub__item">
                    <a href="#" class="menu-sub__link">Hackaton</a>
                </li>
                <li class="menu-sub__item">
                    <a href="#" class="menu-sub__link">Web Challenge</a>
                </li>
            </ul>
        </li>
        <li class="menu__item">
          <a class="menu__link" routerLink="/dashboard" routerLinkActive="menu__link--active">Dashboard</a>
        </li>
    </ul>
    <ul class="user">
        <li class="user__item">
            <a href="#" class="user__link" routerLink="/auth/login">Log In</a>
        </li>
        <li class="user__item">
            <a href="#" class="user__link" routerLink="/signup">Sign Up</a>
        </li>
    </ul>
    <div class="burger" (click)="toggleMenu()">
        <span class="burger__bar"></span>
        <span class="burger__bar burger__bar--second"></span>
        <span class="burger__bar"></span>
    </div>
</header>
<div class="overlay" [ngClass]="{'overlay--open' : open}" (click)="toggleMenu()"></div>
<header class="header header--mobile" [ngClass]="{'header--active' : open}">
    <div class="logo logo--mobile">
        <img src="./../../assets/images/ComIT-logo-g.png" alt="logo" class="logo__image logo__image--mobile">
    </div>
    <ul class="menu menu--mobile">
        <li class="menu__item menu__item--mobile">
            <i class="fa fa-home icon--mobile" aria-hidden="true"></i>
            <a href="#" class="menu__link menu__link--mobile">Home</a>
        </li>
        <li class="menu__item menu__item--mobile">
            <i class="fa fa-calendar icon--mobile" aria-hidden="true"></i>
            <a href="#" class="menu__link menu__link--mobile">Events</a>
            <i class="fa fa-caret-down menu__icon" aria-hidden="true"></i>
            <ul class="menu-sub menu-sub--mobile">
                <li class="menu-sub__item menu-sub__item--mobile">
                    <a href="#" class="menu-sub__link menu-sub__link--mobile">IT Competition</a>
                </li>
                <li class="menu-sub__item menu-sub__item--mobile">
                    <a href="#" class="menu-sub__link menu-sub__link--mobile">Hackaton</a>
                </li>
                <li class="menu-sub__item menu-sub__item--mobile">
                    <a href="#" class="menu-sub__link menu-sub__link--mobile">Web Challenge</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="user user--mobile">
        <li class="user__item user__item--mobile">
            <i class="fa fa-user icon--mobile" aria-hidden="true"></i>
            <a href="#" class="user__link user__link--mobile">Sign In</a>
        </li>
        <li class="user__item user__item--mobile">
            <i class="fa fa-user-plus icon--mobile" aria-hidden="true"></i>
            <a href="#" class="user__link user__link--mobile">Register</a>
        </li>
    </ul>
</header>
