<header class="header">
    <div class="logo">
        <a href="/">
            <img src="./../../assets/images/ComIT-logo-g.png" alt="logo" class="logo__image">
        </a>
    </div>
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__link" routerLink="/home" routerLinkActive="menu__link--active">Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/events" routerLinkActive="menu__link--active">Events</a>
        </li>
        <li class="menu__item" *ngIf="isAdmin">
            <a class="menu__link" routerLink="/dashboard" routerLinkActive="menu__link--active">Dashboard</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/about" routerLinkActive="menu__link--active">About Us</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/contact" routerLinkActive="menu__link--active">Contact Us</a>
        </li>
    </ul>
    <ul class="user">
        <li class="user__item" *ngIf="!isAuthenticated">
            <a class="user__link" routerLink="/auth/login">Log In</a>
        </li>
        <li class="user__item" *ngIf="!isAuthenticated">
            <a class="user__link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="user__item" *ngIf="isAuthenticated">
            <a class="user__link" (click)="onLogout()">Logout</a>
        </li>
    </ul>
    <div class="burger" (click)="toggleMenu()">
        <span class="burger__bar"></span>
        <span class="burger__bar burger__bar--second"></span>
        <span class="burger__bar"></span>
    </div>
</header>
<div class="overlay" [ngClass]="{'overlay--open' : open}" (click)="toggleMenu()"></div>
<header class="header header--mobile" [ngClass]="{'header--active' : open}">
    <div class="logo logo--mobile">
        <img src="./../../assets/images/ComIT-logo-g.png" alt="logo" class="logo__image logo__image--mobile">
    </div>
    <ul class="menu menu--mobile">
        <li class="menu__item menu__item--mobile">
            <i class="fa fa-home icon--mobile" aria-hidden="true"></i>
            <a routerLink="/home" class="menu__link menu__link--mobile">Home</a>
        </li>
        <li class="menu__item menu__item--mobile">
            <i class="fa fa-calendar icon--mobile" aria-hidden="true"></i>
            <a routerLink="/events" class="menu__link menu__link--mobile">Events</a>
        </li>
        <li class="menu__item menu__item--mobile" *ngIf="isAdmin">
            <i class="fa fa-headphones icon--mobile" aria-hidden="true"></i>
            <a routerLink="/dashboard" class="menu__link menu__link--mobile">Dashboard</a>
        </li>
        <li class="menu__item menu__item--mobile">
            <i class="fa fa-briefcase icon--mobile" aria-hidden="true"></i>
            <a routerLink="/about" class="menu__link menu__link--mobile">About Us</a>
        </li>
        <li class="menu__item menu__item--mobile">
            <i class="fa fa-address-book icon--mobile" aria-hidden="true"></i>
            <a routerLink="/contact" class="menu__link menu__link--mobile">Contact</a>
        </li>
    </ul>
    <ul class="user user--mobile">
        <li class="user__item user__item--mobile" *ngIf="!isAuthenticated">
            <i class="fa fa-user icon--mobile" aria-hidden="true"></i>
            <a routerLink="/auth/login" class="user__link user__link--mobile">Sign In</a>
        </li>
        <li class="user__item user__item--mobile" *ngIf="!isAuthenticated">
            <i class="fa fa-user-plus icon--mobile" aria-hidden="true"></i>
            <a  routerLink="/signup" class="user__link user__link--mobile">Register</a>
        </li>
        <li class="user__item user__item--mobile" *ngIf="isAuthenticated">
            <i class="fa fa-user-plus icon--mobile" aria-hidden="true"></i>
            <a (click)="onLogout()" class="user__link user__link--mobile">Logout</a>
        </li>
    </ul>
</header>