<h2 class="manager__title">Chalenges Manager</h2>
<form action="#" class="manager-form">
    <select name="" id="" class="manager-form__select">
        <option value="-1" selected disabled>Select an event</option>
        <option value="1">Event 1</option>
        <option value="2">Event 2</option>
    </select>
</form>
<div class="events-manager__btn-container">
    <a href="#" class="table__action table__action--add"><i class="fa fa-plus-circle table__icon" aria-hidden="true"></i></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Text</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Challenge 1</td>
            <td> {{ limitLength('
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsam nulla maxime ex qui ratione repudiandae quaerat dolore cupiditate ea quam veniam soluta similique rerum quia, cumque dicta nesciunt. Earum?') }} </td>
            <td>
                <a href="#" class="table__action table__action--update"><i class="fa fa-pencil-square-o table__icon" aria-hidden="true"></i></a>
                <a href="#" class="table__action table__action--delete"><i class="fa fa-trash table__icon" aria-hidden="true"></i></a>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>Challenge 2</td>
            <td>Text 2</td>
            <td>
                <a href="#" class="table__action table__action--update"><i class="fa fa-pencil-square-o table__icon" aria-hidden="true"></i></a>
                <a href="#" class="table__action table__action--delete"><i class="fa fa-trash table__icon" aria-hidden="true"></i></a>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>Challenge 3</td>
            <td>Text 3</td>
            <td>
                <a href="#" class="table__action table__action--update"><i class="fa fa-pencil-square-o table__icon" aria-hidden="true"></i></a>
                <a href="#" class="table__action table__action--delete"><i class="fa fa-trash table__icon" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>