<h2 class="manager__title">Chalenges Manager</h2>
<form action="#" class="manager-form">
    <select name="" id="" class="manager-form__select">
        <option value="-1" selected disabled>Select an event</option>
        <option value="" *ngFor="let event of events" (click)="onSelect(event)">{{ event.name }}</option>
    </select>
</form>
<div class="events-manager__btn-container">
    <a href="#" class="table__action table__action--add"><i class="fa fa-plus-circle table__icon"
            aria-hidden="true"></i></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Text</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let challenge of challenges; let i = index">
            <td data-label="Number">{{ i + 1 }}</td>
            <td data-label="Name">{{ challenge.title }}</td>
            <td data-label="Text"> {{ limitLength(challenge.content) }} </td>
            <td data-label="Action">
                <a href="#" class="table__action table__action--update"><i class="fa fa-pencil-square-o table__icon"
                        aria-hidden="true"></i></a>
                <a href="#" class="table__action table__action--delete"><i class="fa fa-trash table__icon"
                        aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>