<h2 class="manager__title">Chalenges Manager</h2>
<form action="#" class="manager-form">
    <select name="" id="" class="manager-form__select">
        <option value="-1" selected disabled>Select an event</option>
        <option value="" *ngFor="let event of events" (click)="onSelect(event)">{{ event.name }}</option>
    </select>
</form>
<div class="events-manager__btn-container">
    <a href="#" (click)="toggleModal($event, 'add')" class="table__action table__action--add"><i
            class="fa fa-plus-circle table__icon" aria-hidden="true"></i></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Text</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let challenge of challenges; let i = index">
            <td data-label="Number">{{ i + 1 }}</td>
            <td data-label="Name">{{ challenge.title }}</td>
            <td data-label="Text"> {{ limitLength(challenge.content) }} </td>
            <td data-label="Action">
                <a href="#" (click)="toggleModal($event, 'update', challenge)"
                    class="table__action table__action--update"><i class="fa fa-pencil-square-o table__icon"
                        aria-hidden="true"></i></a>
                <a href="#" (click)="toggleModal($event, 'delete', challenge)"
                    class="table__action table__action--delete"><i class="fa fa-trash table__icon"
                        aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': modal}">
    <div class="modal-overlay"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ selectedAction[0].toUpperCase() + selectedAction.slice(1) + " form" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleModal($event)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="selectedAction == 'delete'">Are you sure?</p>
                <form action="" class="modal-form" *ngIf="selectedAction == 'add' && challenge">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="name" class="modal-form__input" placeholder="Name"
                                [(ngModel)]="challenge.title">
                        </div>
                        <div class="col-12">
                            <select name="event_type" id="" class="modal-form__select" [(ngModel)]="challenge.event">
                                <option *ngFor="let event of events"
                                [ngValue]="event"
                                [attr.selected]="event.name == challenge.event.name ? true : null">{{ event.name }}</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <textarea name="description" id="" cols="30" rows="10" class="modal-form__input"
                                placeholder="Description" [(ngModel)]="challenge.content"></textarea>
                        </div>
                    </div>
                </form>
                <form action="" class="modal-form" *ngIf="selectedAction == 'update' && challenge">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="name" class="modal-form__input" placeholder="Name"
                                [(ngModel)]="challenge.title">
                        </div>
                        <div class="col-12">
                            <select name="event_type" id="" class="modal-form__select" disabled>
                                <option *ngFor="let event of events"
                                [ngValue]="event"
                                [attr.selected]="event.name == challenge.event.name ? true : null">{{ event.name }}</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <textarea name="description" id="" cols="30" rows="10" class="modal-form__input"
                                placeholder="Description" [(ngModel)]="challenge.content"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    (click)="toggleModal($event, selectedAction + '_confirm')">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="toggleModal($event)">Close</button>
            </div>
        </div>
    </div>
</div>