<header class="header">
    <div class="logo">
        <img src="./../../assets/images/ComIT-logo-g.png" alt="logo" class="logo__image">
    </div>
    <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="about" class="menu__link">About Us</a>
        </li>
        <li class="menu__item">
          <a href="contact" class="menu__link">Contact Us</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">Events</a>
            <i class="fa fa-caret-down menu__icon" aria-hidden="true"></i>
            <ul class="menu-sub">
                <li class="menu-sub__item">
                    <a href="#" class="menu-sub__link">IT Competition</a>
                </li>
                <li class="menu-sub__item">
                    <a href="#" class="menu-sub__link">Hackaton</a>
                </li>
                <li class="menu-sub__item">
                    <a href="#" class="menu-sub__link">Web Challenge</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="user">
        <li class="user__item">
            <a href="#" class="user__link">Log In</a>
        </li>
        <li class="user__item">
            <a href="#" class="user__link">Sign Up</a>
        </li>
    </ul>
</header>
