<div class="event-page">
    <h1 class="event-page__title">Return the First Element in an Array</h1>

    <div class="row">
        <div class="col-12 col-md-7 col-lg-9">
            <div class="event-single">
                <div class="event-single__tabs">
                    <a routerLink="instructions" routerLinkActive="event-single__tab--active" class="event-single__tab">Instructions</a>
                    <a routerLink="code" routerLinkActive="event-single__tab--active" class="event-single__tab">Code</a>
                    <a routerLink="resources" routerLinkActive="event-single__tab--active" class="event-single__tab">Resources</a>
                    <a routerLink="solutions" routerLinkActive="event-single__tab--active" class="event-single__tab">Solutions</a>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3">
            <div class="tip">
                <div class="general__overlay tip__overlay">
                    <img src="./../../assets/images/interrogation.png" alt="interrogation" class="general__overlay-image tip__overlay-image">
                    <p class="general__overlay-text tip__overlay-text">Unlock Tips</p>
                </div>
                <div class="tip__content"></div>
            </div>
        </div>
    </div>
</div>