<div class="container-fluid" id="main">
  <div class="row row-offcanvas row-offcanvas-left">
    <div
      class="col-md-3 col-lg-2 mt-5 sidebar-offcanvas w-100"
      id="sidebar"
      role="navigation"
    >
      <ul class="nav flex-column pt-1">
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-info w-100 text-left btn-lg"
            click="goToAccounts()"
          >
            Create Account
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-info w-100 text-left btn-lg"
            click="goToEvents()"
          >
            Create Event
          </button>
        </li>
        <li class="nav-item">
            <a routerLink="/general-manager" class="btn btn-info w-100 text-left btn-lg">General Manager</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9 col-lg-10 main">
      <div class="row mb-3 mt-5">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-inverse card-success">
            <div class="card-block bg-success p-5">
              <div class="rotate">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="info">
                <h6 class="text-uppercase">Users</h6>
                <h1 class="display-1">134</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-inverse card-danger">
            <div class="card-block bg-danger p-5">
              <div class="rotate">
                <i class="fa fa-list fa-5x"></i>
              </div>
              <div class="info">
                <h6 class="text-uppercase">Events</h6>
                <h1 class="display-1">100</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-inverse card-info">
            <div class="card-block bg-info p-5">
              <div class="rotate">
                <i class="fa fa-trophy fa-5x"></i>
              </div>
              <div class="info">
                <h6 class="text-uppercase">Challanges</h6>
                <h1 class="display-1">125</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
