<!-- <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="./../../assets/images/event1.png" class="swipe-slide__image" alt="slide">
        </div>
        <div class="swiper-slide">
            <img src="./../../assets/images/event2.png" class="swipe-slide__image" alt="slide">
        </div>
        <div class="swiper-slide">
            <img src="./../../assets/images/event3.jpg" class="swipe-slide__image" alt="slide">
        </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div> -->
<swiper [config]="config" [(index)]="index">
  <div class="swiper-slide">
    <img
      src="./../../assets/images/event1.png"
      class="swipe-slide__image"
      alt="slide"
    />
  </div>
  <div class="swiper-slide">
    <img
      src="./../../assets/images/event2.png"
      class="swipe-slide__image"
      alt="slide"
    />
  </div>
  <div class="swiper-slide">
    <img
      src="./../../assets/images/event3.jpg"
      class="swipe-slide__image"
      alt="slide"
    />
  </div>
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</swiper>

<div class="d-flex p-5">
  <div class="row">
    <div class="col-6 text-center p-2">
      <img
        src="./../../assets/images/Learn-Coding-Online-ketabcha-425x284.jpg"
        alt="The fastest way to learn how to code"
      />
    </div>
    <div class="col-6 p-2 text-center">
      <div class="column">
        <h3>
          <span>The Fastest Way To Learn</span>
        </h3>
        <p>
          <span
            >Everyone knows the fastest way to learn a spoken language is by
            having conversations with native speakers. Likewise, the fastest way
            to learn to code is by actually coding. Comit offers an almost
            limitless supply of bite-sized challenges, so you can rapidly
            advance your abilities. It's the absolute fastest way to
            learn.</span
          >
        </p>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-6 p-2 text-center">
      <div class="column">
        <h3>
          <span>The Easiest Way To Learn</span>
        </h3>
        <p>
          <span
            >Do you feel like you’re stuck between learning material that’s too
            easy and material that’s too hard? Once the basics are learned, you
            realize everything is made for either total beginner or an advanced
            coder. Comit bridges this gap. You start on easy and progress at
            your own pace until you're able to master the toughest
            challenges.</span
          >
        </p>
      </div>
    </div>
    <div class="col-6 text-center p-2">
      <img
        src="./../../assets/images/1525446445-365w_codeathondrawingcropped.png"
        alt="The easiest way to learn how to code"
      />
    </div>
    <div class="w-100"></div>
    <div class="col-6 text-center p-2">
      <img
        src="./../../assets/images/ext.jpg"
        alt="The Most Addictive Way To Learn"
      />
    </div>

    <div class="col-6 p-2 text-center">
      <div class="column">
        <h3>
          <span>The Most Addictive Way To Learn</span>
        </h3>
        <p>
          <span
            >Comit simulates what programming is like in the real world while
            removing any tedious, non-educational aspects. We add simple game
            mechanics to make the learning process fun and addictive. Gain XP,
            unlock achievements and level up. You’ll spend hours completing
            challenges and it won't even feel like work.</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
