<!-- <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="./../../assets/images/event1.png" class="swipe-slide__image" alt="slide">
        </div>
        <div class="swiper-slide">
            <img src="./../../assets/images/event2.png" class="swipe-slide__image" alt="slide">
        </div>
        <div class="swiper-slide">
            <img src="./../../assets/images/event3.jpg" class="swipe-slide__image" alt="slide">
        </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div> -->
<swiper [config]="config" [(index)]="index">
    <div class="swiper-slide">
        <img src="./../../assets/images/event1.png" class="swipe-slide__image" alt="slide">
    </div>
    <div class="swiper-slide">
        <img src="./../../assets/images/event2.png" class="swipe-slide__image" alt="slide">
    </div>
    <div class="swiper-slide">
        <img src="./../../assets/images/event3.jpg" class="swipe-slide__image" alt="slide">
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
</swiper>