<div class="challenge-page">
    <h1 class="challenge-page__title" *ngIf="challenge && challenge.title" > {{ challenge.title }} </h1>

    <div class="row">
        <div class="col-12 col-md-7 col-lg-9">
            <div class="challenge-single">
                <div class="challenge-single__tabs">
                    <a routerLink="instructions" routerLinkActive="challenge-single__tab--active" class="challenge-single__tab">Instructions</a>
                    <a routerLink="code" routerLinkActive="challenge-single__tab--active" class="challenge-single__tab">Code</a>
                    <a routerLink="resources" routerLinkActive="challenge-single__tab--active" class="challenge-single__tab">Resources</a>
                    <a routerLink="solutions" routerLinkActive="challenge-single__tab--active" class="challenge-single__tab">Solutions</a>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3">
            <div class="tips">
                <div class="general__overlay tips__overlay" (click)="toggleModal()" *ngIf="!show">
                    <img src="./../../assets/images/interrogation.png" alt="interrogation" class="general__overlay-image tips__overlay-image">
                    <p class="general__overlay-text tips__overlay-text">Unlock Tips</p>
                </div>
                <div class="tips__content">
                    <h2 class="tips__title">Tips and Tricks</h2>
                    <div class="tip" *ngFor="let tip of challenge.tips; let i = index">
                        <span class="tip__number">{{ i + 1 }}</span>
                        - {{ tip }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': modal}">
            <div class="modal-overlay"></div>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Unlock Tips?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="toggleModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="showTips()">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="toggleModal()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>