/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #0d3980;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

i {
    color: var(--main-color);
}

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.general-button {
    display: inline-block;
    background-color: var(--main-color);;
    border: 1px solid var(--main-color);;
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    transition: background-color 150ms ease-in-out;
}

.general-button:hover {
    text-decoration: none;
    background-color: #fff;
    color: var(--main-color);;
}

.general__overlay {
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.general__overlay-image {
    max-width: 200px;
}

.general__overlay-text {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
}

/* Admin manager components */
.manager__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.events-manager__btn-container {
    margin-bottom: 15px;
}

.table__action, .table__action:link, .table__action:active {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
}

.table__action--delete, .table__action--delete:link, .table__action--delete:active {
    background: #dc3545;
}

.table__action--update, .table__action--update:link, .table__action--update:active {
    background: #236adb;
}

.table__action--add, .table__action--add:link, .table__action--add:active {
    background: #28a745;
}

.table__icon {
    font-size: 17px;
    color: #ffffff;
}

.manager-form {
    text-align: center;
    margin-bottom: 10px;
}

.manager-form__select {
    border-radius: 5px;
    border: 1px solid var(--main-color);;
    padding: 5px 10px;
}

/* Modal */
.modal.show {
    display:block;
}

.modal-dialog {
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6)
}

.modal-form__input {
    width: 100%;
    color: var(--main-color);;
    margin-bottom: 15px;
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 5px;
}

.modal-form__select {
    width: 30%;
    color: var(--main-color);;
    margin-bottom: 15px;
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 5px;
}

@media (min-width: 1199.98px) {
    .modal-dialog {
        max-width: 800px;
    }
}

/* On focus remove placeholder */
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}