<!-- Slider -->
<div class="swiper-container" [swiper]="config" [(index)]="index">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="./../../assets/images/event1.png"
        class="swipe-slide__image"
        alt="slide"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="./../../assets/images/event2.png"
        class="swipe-slide__image"
        alt="slide"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="./../../assets/images/event3.jpg"
        class="swipe-slide__image"
        alt="slide"
      />
    </div>
  </div>

  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-calendar m-auto text-primary"></i>
          </div>
          <h3>Plenty of competitions</h3>
          <p class="lead mb-0">
            We have a large range of IT events and challanges you can enroll to.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Great way to learn</h3>
          <p class="lead mb-0">
            This is a graet opportunity to learn by doing!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-mouse m-auto text-primary"></i>
          </div>
          <h3>Skills improvement</h3>
          <p class="lead mb-0">
            Practicing you can gain more experience and become more confident!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/assets/images/home/monster001.png');"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>The Fastest Way To Learn</h2>
        <p class="lead mb-0">
          Everyone knows the fastest way to learn a spoken language is by having
          conversations with native speakers. Likewise, the fastest way to learn
          to code is by actually coding. Comit offers an almost limitless supply
          of bite-sized challenges, so you can rapidly advance your abilities.
          It's the absolute fastest way to learn.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('/assets/images/home/monster002.png');"
      ></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>The Easiest Way To Learn</h2>
        <p class="lead mb-0">
          Do you feel like you’re stuck between learning material that’s too
          easy and material that’s too hard? Once the basics are learned, you
          realize everything is made for either total beginner or an advanced
          coder. Comit bridges this gap. You start on easy and progress at your
          own pace until you're able to master the toughest challenges.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/assets/images/home/monster003.png');"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>The Most Addictive Way To Learn</h2>
        <p class="lead mb-0">
          Edabit simulates what programming is like in the real world while
          removing any tedious, non-educational aspects. We add simple game
          mechanics to make the learning process fun and addictive. Gain XP,
          unlock achievements and level up. You’ll spend hours completing
          challenges and it won't even feel like work.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="/assets/images/home/testimonials-1.jpg"
            alt=""
          />
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">
            "This is fantastic! Thanks so much guys!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="/assets/images/home/testimonials-2.jpg"
            alt=""
          />
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">
            "Comit is amazing. I've been using it to practice my coding skills."
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="/assets/images/home/testimonials-3.jpg"
            alt=""
          />
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">
            "Comit helped me get a job as a Software Engineer at Google!"
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
