.manager {
    padding: 40px 20px;
}

.tabs {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    border: 1px solid #0d3980;
    border-radius: 5px;
}

.tab {
    padding: 10px;
}

.tab__link, .tab__link:link, .tab__link:active {
    color: inherit;
    font-size: 18px;
}

.tab__link--active, .tab__link--active:link, .tab__link--active:active {
    color: #236adb;
}

.tab__link:hover, .tab__link:focus {
    text-decoration: none;
    color: #236adb;
}

.manager__content {
    border: 1px solid #0d3980;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

@media (max-width: 767.98px) {
    .manager {
        padding: 20px 15px;
    }
}

@media (max-width: 575.98px) {
    .tabs {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    
    table thead {
        border: none;
        height: 1px;
        width: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }
    
    table tr {
        display: block;
        margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }

    .table td, .table th {
        border-top: none;
    }
    
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    
    table td:last-child {
        border-bottom: 0;
    }
}