<div class="events">
    <div class="row">
        <div class="col-12 col-md-5 col-lg-3">
            <form class="sort">
                <p class="sort__title">Sort by</p>
                <div class="sort__group">
                    <select name="eventType" id="eventType" class="sort__select">
                        <option value="-1" disabled selected>Event Type</option>
                        <option value="">IT Competition</option>
                        <option value="">Hackaton</option>
                        <option value="">Web Challenge</option>
                    </select>
                </div>
                <div class="sort__group">
                    <select name="technology" id="technology" class="sort__select">
                        <option value="-1" disabled selected>Technology</option>
                        <option value="">Python</option>
                        <option value="">Java</option>
                        <option value="">JavaScript</option>
                    </select>
                </div>
                <div class="sort__group">
                    <select name="level" id="level" class="sort__select">
                        <option value="-1" disabled selected>Level</option>
                        <option value="">Junior</option>
                        <option value="">Medior</option>
                        <option value="">Senior</option>
                    </select>
                </div>
                <div class="sort__group">
                    <select name="status" id="status" class="sort__select">
                        <option value="-1" disabled selected>Status</option>
                        <option value="">Completed</option>
                        <option value="">Ongoing</option>
                    </select>
                </div>
                <div class="sort__button-container">
                    <button type="submit" class="general-button sort__button">Filter Events</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-7 col-lg-9">
            <div class="events-list">
                <div class="event" (click)="goToPage()">
                    <h1 class="event__title">Return the First Element in an Array</h1>
                    <div class="event__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aperiam deserunt cumque delectus suscipit natus repellendus a mollitia. Quia sed dolorem dolorum. Ratione, magnam ut eius fugiat voluptate sed voluptatibus!
                    </div>
                    <div class="event__tags">
                        <i class="fa fa-tags event__icon" aria-hidden="true"></i>
                        <a href="#" class="event__tag">Programming</a>
                        <a href="#" class="event__tag">Beginner</a>
                        <a href="#" class="event__tag">Math</a>
                    </div>
                </div>
                <div class="event" (click)="goToPage()">
                    <h1 class="event__title">Return the First Element in an Array</h1>
                    <div class="event__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aperiam deserunt cumque delectus suscipit natus repellendus a mollitia. Quia sed dolorem dolorum. Ratione, magnam ut eius fugiat voluptate sed voluptatibus!
                    </div>
                    <div class="event__tags">
                        <i class="fa fa-tags event__icon" aria-hidden="true"></i>
                        <a href="#" class="event__tag">Programming</a>
                        <a href="#" class="event__tag">Beginner</a>
                        <a href="#" class="event__tag">Math</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
